.chats-body {
    padding: 0;
}
.chats-body .header,
.chats-body .status-bar {
    padding : 0px 20px;
}
.chat-screen {
    background-image: url(../images/chatBG2.png);
    min-height: 100vh;
}
.chat__write {
    position : fixed;
    bottom: 50px;
    width : 80%;
    display: flex;    
    background-color: #fcfcfc;
    padding : 0px 20px;
    border-radius: 40px;
    margin : 0 auto;
    justify-content: space-between;
    align-items: center;
    left:0;
    right: 0;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 
                0 8px 16px -8px rgba(0,0,0,.3), 
                0 -6px 16px -6px rgba(0,0,0,.025);
}

.chat__write i {
    font-size: 22px;   
}
.chat__write-column:nth-child(2) {
    width : 80%;
}   
.chat__write-column input {
    padding : 20px 10px;
    width : 100%;
    border : none;
    font-size: 14px;

}
.chat__write-column input:focus {
    outline: none;
}   /* input의  focus를 지워준다. */

.chat-screen .chat__messages {
    border-top : 1px solid #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding : 0px 20px;
    padding-top : 30px;
}
.chat__messages .chat__timestamp {
    background-color: white;
    font-size : 14px;
    padding : 5px 10px;
    border-radius : 10px;
    margin-bottom : 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
                rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    text-transform: uppercase;
    font-weight : 700;
}
.message {
    display: flex;
    align-items: flex-start;
    width : 50%;
    margin-bottom: 40px;
}

.sent-message {
    align-self:  flex-end;
    margin-right : -100px;
}

.message .message__content {
    width : auto;
}

.incoming-message {
    align-self : flex-start;

}
.incoming-message img {
    width : 60px;
    border-radius: 15px;
    margin-right: 17px;
}

.message .message__bubble {
    background-color: white;
    box-shadow:  0 13px 27px -5px rgba(50,50,93,.25), 
                 0 8px 16px -8px rgba(0,0,0,.3), 
                 0 -6px 16px -6px rgba(0,0,0,.025);
    padding : 5px 10px;
    padding-right : 5px ;
    border-radius: 15px;
    display : flex;
}
.incoming-message .message__author {
    margin-bottom: 10px;
    display :block;
    font-weight : 700;
    font-size : 12px;
}

.incoming-message .message__bubble{
    border-top-left-radius : 0;
    font-weight : 700;
}
.sent-message .message__bubble {
    border-bottom-right-radius: 0;
    background-color: rgb(231, 231, 92);
    font-weight : 700;
}