@import "reset.css";
@import  url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";

* {
    box-sizing: border-box;    /* padding을 추가하면 box가 커진다.  */
     /* padding을 추가해도 Width, Height가 커지지 않게 해준다. */
}

body{
    background-color: white;
    padding : 10px 20px;
    color: #020202;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 
                 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
                 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    color: inherit; /* inherit   : 부모의 색 */ 
    text-decoration: none;
}
